<% provide :title, t("sign_up") %>
<% provide :button_text, t("update_account") %>
<div class="content">
  <div class="omb_login">
    <h2 class="omb_authTitle">
      <%= t "update_profile" %>
    </h2>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <%= render "form" %>
        <div class="gravatar_edit">
          <%= gravatar_for @user %>
          <a href="http://gravatar.com/emails" target="_blank"><%= t "search" %></a>
        </div>
      </div>
    </div>
  </div>
</div>
