<% provide :title, @user.name %>
<div id="wrapper" >
  <% if current_user.is_admin? && !current_user.is_user?(@user) %>
    <%= render "layouts/admin/menu.html.erb" %>
  <% else %>
    <%= render "layouts/menu.html.erb" %>
  <% end %>
  <div id="page-content-wrapper">
  </div>
</div>
