<div id="search-form">
  <%= form_tag words_path, method: :get, class: "form-inline" do %>
    <%= text_field_tag :search, params[:search], class: "form-control" %>
    <%= submit_tag t("search"), class: "form-control" %>
  <% end %>
</div>
