@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  margin-bottom: 0;
  background-color: #4257B2;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #FFFFFF !important;
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.navbar-nav li.active a {
  color: #fff !important;
  background-color:#FFFFFF !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.open .dropdown-toggle {
  color: #fff ;
  background-color: #555 !important;
}

.dropdown-menu li a {
  color: #000 !important;
}

.dropdown-menu li a:hover {
  background-color: red !important;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.thumbnail {
  padding: 0 0 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0;
  min-height: 250px;
  max-height: 300px;
  width: 250px;
}

.thumbnail p {
  margin-top: 5px;
  color: #555;
}

.btn {
  padding: 10px 20px;
  background-color: #3CCFCF;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

.bg-1 {
  padding: 80px 0;
  background: #FFFFFF;
  color: #455358;
}

.bg-1 h3 {color: #455358;}
.bg-1 p {font-style: italic;}
.bg-2 {
  padding: 80px 0;
  background: #EFEFEF;
  color: #455358;
}

.bg-2 h3 {
color: #455358;
font-weight: 700;
font-size: 3.5rem;
line-height: 1.142857142857143;
}

.bg-2 p {font-style: italic;}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}

.person:hover {
  border-color: #f1f1f1;
}

footer {
  background-color: #4257B2;
  color: #FFFFFF;
  padding: 32px;
}

footer a {
  color: #FFFFFF;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}

footer container a{
  text-align: left;
}

footer ul li{
  padding-top: 20px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 80px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*css login*/
@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}

.content {
  height: 700px;
  background-image: image-url("background_signup_login.png");
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  min-height: 100%;
  background-color: #fff;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.label_text {
  color: red;
  font-size: 18px;
}

.omb_login {
  margin-top: 50px;
}

.omb_login .omb_authTitle {
  text-align: center;
  line-height: 300%;
}

.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg
  opacity: 0.9;
}

.omb_login .omb_socialButtons a:hover {
  color: white;
  opacity: 1;
}

.omb_login .omb_socialButtons .omb_btn-facebook {
  background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
  background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
  background: #c32f10;
}

.omb_login .omb_loginOr {
  position: relative;
  font-size: 25px;
  color: #aaa;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -15px;
  margin-left: -18px;
  background-color: white;
  width: 50px;
  text-align: center;
}

.btn-block {
  padding: 5px 10px;
  background-color: #3CCFCF;
  color: #f1f1f1;
  border-radius: 0;
}

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}

.checkbox {
  color: #3b5998;
}

@media (min-width: 768px) {
  .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top:10px;
  }
}

.btn-block {
  margin-top: 20px;
  margin-bottom: 31px;
}

.omb_login .omb_loginForm .input-group.i {
  width: 35px;
}

.checkbox {
  color: #3b5998;
}

@media (min-width: 768px) {
  .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top: 10px;
  }
}

/*form error*/
.alert {
  margin-top: 50px;
  margin-bottom: -50px;
}

.alert-form {
  padding: 10px 0px;
  border: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.category_content {
  margin-top: 200px;
}

.category{
  margin-top: 70px;
}

.category_img_index {
  height: 150px !important;
}

.category_img_show {
  height: 400px !important;
  width: 350px;
}

.button_inline{
  text-align: center;
  margin-botton :1
}

.button{
  padding: 5px;
  color: white;
  text-align: center;  font-size: 18px;  line-height: 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.button_view {
  background-color: #52B3D6;
}

.button_edit {
  background-color: #77CC38;
}

.button_delete {
  background-color: #d46d45;
}

.button_back {
  background-color: #F3CA28;
}

.show_img {
  margin-top: 100px;
}

.category-info{
  padding-bottom: 50px;
}
