<div class="container category">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-sm-3">
        <div class="thumbnail">
          <%= image_tag category.category_img.url(:category_index),
            class: "category_img_index"%>
          <h4 class="text-center"><%= category.name %></h4>
          <div class="button_inline">
            <%= link_to t("start_lesson"),
              category_lessons_path(category),
              method: :post, class: "button_view button" %>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @categories %>
  </div>
</div>
